/*****harvey*****/
/* #harvey(headerco89zzc25hp) #css starts  */
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link {
    color: #292929
}
.headerco89zzc25hp .navbar-light .navbar-nav .nav-link:hover {
    color: #31DC89
}
.headerco89zzc25hp .RegBtn {
    font-weight: bold;
    background-color: #31DC89
}
/* #harvey(headerco89zzc25hp) #css ends  */
/*****harvey*****/

/*****apeli*****/
/* #apeli(4c8deeb2f4571930) #css starts  */
.abouta4c8deeb2f4571930 h2 {
    font-size: 44px
}
.abouta4c8deeb2f4571930 p {
    font-size: 20px
}
.abouta4c8deeb2f4571930 .about {
    border-radius: 30px;
    background-color: #31DC89;
    color: #292929 !important
}
/* #apeli(4c8deeb2f4571930) #css ends  */
/*****apeli*****/

/*****foster*****/
/* #foster(fosterftsjsdoaie6) #css starts */
.fosterftsjsdoaie6 .fdb-block {
    padding: 0rem 0
 }

/* #foster(fosterftsjsdoaie6) #css starts */
/*****foster*****/

 /*****coe*****/
    /* #coe(calltoactionca00jikay2r) #css starts  */
    .calltoactionca00jikay2r h1{
        font-size: 32px
    }
    .calltoactionca00jikay2r .lead{
        font-size: 20px
    }
    .calltoactionca00jikay2r .btn-primary {
    color: #292929;
    background-color: #31DC89;
    border-color: #31DC89;
    font-weight: 600
    }
    .calltoactionca00jikay2r .btn-primary:hover,
    .calltoactionca00jikay2r .btn-primary:not(:disabled):not(.disabled):active{
        color: #292929;
        background-color: #31DC89;
        border-color: #31DC89;
        box-shadow: none;
        font-weight: 600
    }
    /* #coe(calltoactionca00jikay2r) #css ends  */
/*****coe*****/

/*****cade*****/
 /* #cade(af598102c9dad94e) #css starts  */
 .counteraf598102c9dad94e h2{
    font-size: 32px;
    color: #292929   
}
/* #cade(af598102c9dad94e) #css ends  */
/*****cade*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
  .freyategxpfzk1ni  .fdb-block .fdb-box {
    padding: 1.75rem 2.5rem
}

      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #31DC89;
      z-index: 2
     }

     .freyategxpfzk1ni .fdb-block img + h2 {
      margin-top: 1rem
     }

     .freyategxpfzk1ni .fdb-block h2 {
    font-size: 18px;
    font-weight: 600
       }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
.aboutd390a380620aac0e .video_card::before {
    background-color: #808080
}

.aboutd390a380620aac0e .fa{
    color: #31DC89
}

.aboutd390a380620aac0e .video_card>.btn:hover {
    box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
}

.aboutd390a380620aac0e .video_card>.btn:active {
    color: #fff
}

/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****tioni*****/
    /* #tioni(testimonialtmrwms6esfu) #css starts  */
    .testimonialtmrwms6esfu .fdb-block {
        padding: 5.5rem 0
       }
      
       .testimonialtmrwms6esfu .fdb-block .fdb-box {
        padding: 1.75rem 2.5rem   
    }
    .testimonialtmrwms6esfu .fdb-block .fdb-touch {
        border-top: solid 0.3125rem #31DC89
    }
    /* #tioni(testimonialtmrwms6esfu) #css ends  */
/*****tioni*****/


/*****fun*****/
    /* #fun(f013287cc03d37647) #css starts */
    .faqf013287cc03d37647 .faq-section {
        padding: 0vh 0 0;
        min-height: 0vh
    }

    .faqf013287cc03d37647 .faq-title h2 {
        font-size: 32px
    }

    .faqf013287cc03d37647 .faq-title h2::before {
        background: #31DC89
    }

    .faqf013287cc03d37647 .faq .card .card-body p{
        color: #292929
    }

    .faqf013287cc03d37647 .faq .card .card-header:hover {
        background: rgba(23, 30, 99, 0.1)
    }

    .faqf013287cc03d37647 .faq .card .card-header .faq-title {
        font-size: 16px
    }

    .faqf013287cc03d37647 .faq .card .card-header .faq-title .badge {
        background: #31DC89
    }
    
    /* #fun(f013287cc03d37647) #css ends */
/*****fun*****/

/*****christina*****/
    /* #christina(christinaco40p743dw4) #css starts  */
    .christinaco40p743dw4 .btn-primary {
    color: #292929;
    background-color: #31DC89;
    border-color: #31DC89;
    box-shadow: none;
    font-weight: 600;
}
.christinaco40p743dw4 .btn-primary:hover,
.christinaco40p743dw4 .btn-primary:not(:disabled):not(.disabled):active
 {
    color: #292929;
    background-color: #31DC89;
    border-color: #31DC89
}
    /* #christina(christinaco40p743dw4) #css ends  */
/*****christina*****/

/*****caisy*****/ 
    /* #caisy(clientscalnt4q93pe) #css starts  */
    .clientscalnt4q93pe h3{
        font-size: 32px
    }
    /* #caisy(clientscalnt4q93pe) #css ends  */
/*****caisy*****/ 

/*****flight*****/
    /* #flight(flightft09nw97giq) #css starts */
    .flightft09nw97giq .fdb-block {
        padding: 0.5rem 0;
        padding-top: 5rem
      }
      .flightft09nw97giq .lead {
        font-size: 20px
    }
    .flightft09nw97giq p {
        margin-bottom: 0rem
    }
    .flightft09nw97giq a {
        color: #292929
    }
    .flightft09nw97giq a:hover {
        color: #31DC89
    }
    /* #flight(flightft09nw97giq) #css ends */
/*****flight*****/